@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 py-2 border border-mainColor/20 mx-1 my-1 rounded-full uppercase tracking-widest text-gray-500
    transition-all hover:border-mainColor/50 md:border-mainColor/10 hover:text-mainColor/40 text-sm
  }

  .sectionName {
    @apply absolute top-16 md:top-24 uppercase tracking-[20px] text-gray-500 text-xl md:text-2xl
  }

  .customInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-mainColor/40 focus:text-mainColor/40 hover:border-mainColor/40
  }

  .myScrollbar {
    @apply scrollbar scrollbar-track-gray-400/20 scrollbar-thumb-mainColor/80 scrollbar-thin
  }
}

