@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 py-2 border border-[#242424] rounded-full uppercase tracking-widest text-gray-500
    transition-all hover:border-mainColor/40 hover:text-mainColor/40 text-sm
  }

  .sectionName {
    @apply absolute top-24 uppercase tracking-[20px] text-gray-500 text-2xl
  }

  .customInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-mainColor/40 focus:text-mainColor/40 hover:border-mainColor/40
  }
}

